In [29]:
import numpy as np
import pandas as pd

In [30]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [31]:
train.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [32]:
test.head()

   row_id        date  country       store         product
0   26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1   26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2   26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3   26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4   26302  2019-01-01  Finland  KaggleRama      Kaggle Hat

In [33]:
train['num_sold']

0         329
1         520
2         146
3         572
4         911
         ...
26293     823
26294     250
26295    1004
26296    1441
26297     388
Name: num_sold, Length: 26298, dtype: int64

In [34]:
train['country']

0        Finland
1        Finland
2        Finland
3        Finland
4        Finland
          ...
26293     Sweden
26294     Sweden
26295     Sweden
26296     Sweden
26297     Sweden
Name: country, Length: 26298, dtype: object

In [35]:
train.drop('row_id', axis=1, inplace=True)
test.drop('row_id', axis=1, inplace=True)

In [36]:
train.head()

         date  country       store         product  num_sold
0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [37]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      26298 non-null  object
 1   country   26298 non-null  object
 2   store     26298 non-null  object
 3   product   26298 non-null  object
 4   num_sold  26298 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [38]:
train.describe()
train.head()

         date  country       store         product  num_sold
0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [39]:
train['date'] = train['date'].str.replace("-","").astype(int)

In [40]:
test['date'] = test['date'].str.replace("-","").astype(int)

In [41]:
train.count()

date        26298
country     26298
store       26298
product     26298
num_sold    26298
dtype: int64

In [42]:
train.items()

In [43]:
train.head()

       date  country       store         product  num_sold
0  20150101  Finland  KaggleMart      Kaggle Mug       329
1  20150101  Finland  KaggleMart      Kaggle Hat       520
2  20150101  Finland  KaggleMart  Kaggle Sticker       146
3  20150101  Finland  KaggleRama      Kaggle Mug       572
4  20150101  Finland  KaggleRama      Kaggle Hat       911

In [48]:
print(train['country'].value_counts(), '\n')
print(train['product'].value_counts(), '\n')
print(train['store'].value_counts(), '\n')

Finland    8766
Norway     8766
Sweden     8766
Name: country, dtype: int64

Kaggle Mug        8766
Kaggle Hat        8766
Kaggle Sticker    8766
Name: product, dtype: int64

KaggleMart    13149
KaggleRama    13149
Name: store, dtype: int64

In [47]:
test.head()

       date  country       store         product
0  20190101  Finland  KaggleMart      Kaggle Mug
1  20190101  Finland  KaggleMart      Kaggle Hat
2  20190101  Finland  KaggleMart  Kaggle Sticker
3  20190101  Finland  KaggleRama      Kaggle Mug
4  20190101  Finland  KaggleRama      Kaggle Hat